<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
</head>

<body>
    <%- include layout %>
        <div class="container">
            <h2 align="center">เขียนบทความ</h2>
            <form class="" action="/blog/add" method="POST">
                <div class="form-group">
                    <label for="">ชื่อบทความ</label>
                    <input type="text" name="name" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">รายละเอียด</label>
                    <textarea name="description" rows="8" cols="80" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="">ชื่อผู้แต่ง</label>
                    <input type="text" name="author" value="" class="form-control" />
                </div>
                <br>
                <input type="submit" name="" value="บันทึก" class="btn btn-primary" />
            </form>
        </div>
        <script>
            CKEDITOR.replace( 'description' );
    </script>
</body>

</html>